* {
  box-sizing: border-box;
}

tabel {
  border-collapse: separate;
  border: 3px;
  border-spacing: 5px;
}

.info {
  float: right;
}

.info td {
  height: 7rem;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  padding: 4px;
}

.item-name {
  height: 7rem;
  width: 150px;
  margin: 15px;
  text-align: right;
}

input[type="text"],
input[type="email"],
textarea {
  width: 480px;
}

input[type="submit"] {
  padding: 15px;
  position: relative;
  left: 120px;
  background-color: #f5b4b3;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 10px;
  border-style: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.5;
}
